.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #f2f2f2;
}

.copyright
{
    overflow: hidden;
    padding: 3em 0em;
    border-top: 20px solid rgba(255, 255, 255, 0.08);
    text-align: center;
    background: #4CAF50;
}
