<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}Alumni Database{% endblock %}</title>
  {% for filename in os.listdir('static/css') if filename.endswith('.css') %}
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/' + filename) }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  {% endfor %}
</head>
<body>
<header>
  <nav>
    <ul>
      <li><a href="{{ url_for('views.home') }}">Home</a></li>
      <li><a href="{{ url_for('views.explore') }}">Explore</a></li>
      <li><a href="{{ url_for('views.news') }}">News</a></li>
    </ul>
  </nav>
</header>
{% block content %}{% endblock %}
{% block scripts %}{% endblock %}
<footer class="footer">
      <p>&copy; powered by Lance</p>
</footer>
</body>
</html>