{% extends 'base.html' %}
{% block content %}
<section class="explore-section">
<input id="search-input" type="text" placeholder="Search...">
<label for="dropdown">Select Region:</label>
<select name="dropdown" id="dropdown">
	<option value="">All</option>
	<option value="alevel">ALevel</option>
	<option value="ap">AP</option>
</select>

<div id="search-results">

    <ul>
    	{% for user in users %}
		<li>{{user.title}} {{user.region}} </li>
	    {% endfor %}
	</ul>
	
</div>
</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
	var searchResults = $('#search-results').html();
	$('#search-input').on('input', function() {
	var query = $(this).val();
	var drop = $('#dropdown').val();
	$.getJSON('/search', {'q': query, 'd': drop}, function(data) {
    $('#search-results ul').html('');
    $.each(data.users, function(index, user) {
        $('#search-results ul').append('<li>' + user.title + ' ' + user.region + '</li>');
    });
});
	});

	$('#dropdown').on('change', function(){
		var query = $('#search-input').val();
		var drop = $(this).val();
		$.getJSON('/search', {'q': query, 'd': drop}, function(data) {
			$('#search-results ul').html('');
			$.each(data.users, function(index, user) {
				$('#search-results ul').append('<li>' + user.title + ' ' + user.region + '</li>');
			});
		});
	});
});
</script>

{% endblock %}
